backend/n8n-workflow-orchestrator.json
{
  "name": "Multi-Agent Product Feedback Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Chat Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chat-orchestrator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user_message",
              "name": "user_message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id || 'default' }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Query Planner. Analyze user queries and output ONLY valid JSON with these exact fields:\n{\n  \"intent\": \"one of: summarization, aggregation, filtering, ranking, trend_analysis, gap_analysis, competitive_analysis, general_inquiry\",\n  \"required_data_sources\": [\"array of: rag, web, database\"],\n  \"requires_analysis\": true/false,\n  \"requires_visualization\": false,\n  \"output_format\": \"one of: text, visualization, cited_summary, detailed_report\",\n  \"key_topics\": [\"array of key topics from query\"]\n}\n\nAnalyze this query and return ONLY the JSON, no other text."
            },
            {
              "role": "user",
              "content": "={{ $json.user_message }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "query-planner-agent",
      "name": "🧠 Query Planner Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonata",
        "jsonataExpression": "{ \"needs_rag\": $contains($json.required_data_sources, \"rag\"), \"needs_web\": $contains($json.required_data_sources, \"web\"), \"needs_analysis\": $json.requires_analysis, \"query_plan\": $json }"
      },
      "id": "parse-plan",
      "name": "Parse Query Plan",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.needs_rag }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "needs_rag"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.needs_web }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "needs_web"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-data-needs",
      "name": "Route Data Needs",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.5,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Data Retrieval Agent. Search the vector database for relevant product reviews and feedback.\n\nOutput ONLY valid JSON with these exact fields:\n{\n  \"summary\": \"Brief summary of retrieved data\",\n  \"total_sources\": number,\n  \"rag_results\": [{\"title\": \"\", \"content\": \"\", \"relevance\": 0.95}],\n  \"web_results\": []\n}\n\nReturn ONLY the JSON, no other text."
            },
            {
              "role": "user",
              "content": "Search for: {{ $('Extract Input').item.json.user_message }}\nQuery plan: {{ $('Parse Query Plan').item.json.query_plan }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "rag-retrieval-agent",
      "name": "📚 RAG Retrieval Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.5,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Web Search Agent. Search the web for external information.\n\nOutput ONLY valid JSON with these exact fields:\n{\n  \"summary\": \"Brief summary of web findings\",\n  \"total_sources\": number,\n  \"rag_results\": [],\n  \"web_results\": [{\"title\": \"\", \"url\": \"\", \"snippet\": \"\"}]\n}\n\nReturn ONLY the JSON, no other text."
            },
            {
              "role": "user",
              "content": "Search web for: {{ $('Extract Input').item.json.user_message }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "web-search-agent",
      "name": "🌐 Web Search Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-data-sources",
      "name": "Merge Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_analysis }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-needs-analysis",
      "name": "Needs Analysis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.4,
          "maxTokens": 3000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an Analysis Agent. Perform statistical analysis and extract insights from data.\n\nOutput ONLY valid JSON with these exact fields:\n{\n  \"summary\": \"Brief summary of analysis findings\",\n  \"key_findings\": [\"finding 1\", \"finding 2\"],\n  \"statistical_insights\": {\"metric_name\": value},\n  \"nlp_insights\": {\"sentiment\": \"positive/negative/neutral\", \"themes\": []},\n  \"visualizations\": [{\"type\": \"bar\", \"data\": {}}]\n}\n\nReturn ONLY the JSON, no other text."
            },
            {
              "role": "user",
              "content": "Analyze this data:\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "analysis-agent",
      "name": "📊 Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1850, 200],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-analysis",
      "name": "Merge Analysis",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.6,
          "maxTokens": 4000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Synthesis Agent. Your job is to create the FINAL response to the user.\n\nCombine all information from previous agents and generate a comprehensive, well-structured response.\n\nOutput ONLY valid JSON with these exact fields:\n{\n  \"response\": \"The final markdown-formatted response to show the user\",\n  \"confidence_level\": \"high/medium/low\",\n  \"citations\": [{\"source\": \"\", \"title\": \"\", \"url\": \"\"}],\n  \"recommendations\": [\"actionable recommendation 1\"]\n}\n\nIMPORTANT: The 'response' field should be a complete, user-friendly answer in markdown format.\nReturn ONLY the JSON, no other text."
            },
            {
              "role": "user",
              "content": "Original query: {{ $('Extract Input').item.json.user_message }}\n\nQuery plan: {{ JSON.stringify($('Parse Query Plan').item.json.query_plan) }}\n\nAll gathered data and analysis: {{ JSON.stringify($json) }}\n\nGenerate the final response now."
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "synthesis-agent",
      "name": "✨ Synthesis Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2250, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final_response",
              "name": "message",
              "value": "={{ $json.response }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Extract Input').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "value": "={{ $now.format('x') }}-{{ Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ { model: 'gpt-4o', provider: 'n8n_team', confidence: $json.confidence_level, citations: $json.citations, recommendations: $json.recommendations } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "format-final-response",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2650, 300]
    }
  ],
  "connections": {
    "Webhook - Chat Input": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "🧠 Query Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Query Planner Agent": {
      "main": [
        [
          {
            "node": "Parse Query Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query Plan": {
      "main": [
        [
          {
            "node": "Route Data Needs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Data Needs": {
      "main": [
        [
          {
            "node": "📚 RAG Retrieval Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🌐 Web Search Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📚 RAG Retrieval Agent": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Web Search Agent": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Sources": {
      "main": [
        [
          {
            "node": "Needs Analysis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Analysis?": {
      "main": [
        [
          {
            "node": "📊 Analysis Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📊 Analysis Agent": {
      "main": [
        [
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Analysis": {
      "main": [
        [
          {
            "node": "✨ Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Synthesis Agent": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-12T00:00:00.000Z",
  "versionId": "1"
}

