backend/n8n-workflow-streaming.json
{
  "name": "Multi-Agent Orchestrator - With Streaming",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-stream",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Chat Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user_message",
              "name": "user_message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id || 'default' }}",
              "type": "string"
            },
            {
              "id": "callback_url",
              "name": "callback_url",
              "value": "={{ $json.body.callback_url }}",
              "type": "string"
            },
            {
              "id": "execution_id",
              "name": "execution_id",
              "value": "={{ $now.format('x') }}-{{ Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "connected"
            },
            {
              "name": "execution_id",
              "value": "={{ $('Extract Input').item.json.execution_id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-connected",
      "name": "📡 Notify Connected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Query Planner. Analyze user queries and output ONLY valid JSON with these exact fields:\n{\n  \"intent\": \"one of: summarization, aggregation, filtering, ranking, trend_analysis, gap_analysis, competitive_analysis, general_inquiry\",\n  \"required_data_sources\": [\"array of: rag, web, database\"],\n  \"requires_analysis\": true/false,\n  \"requires_visualization\": false,\n  \"output_format\": \"one of: text, visualization, cited_summary, detailed_report\",\n  \"key_topics\": [\"array of key topics from query\"]\n}"
            },
            {
              "role": "user",
              "content": "={{ $('Extract Input').item.json.user_message }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "query-planner-agent",
      "name": "🧠 Query Planner Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_start"
            },
            {
              "name": "data",
              "value": "={{ { agent_name: 'Query Planner', step_id: 'step-1', step_order: 0, timestamp: $now.toISO() } }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-planner-start",
      "name": "📤 Notify Planner Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 150],
      "continueOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_complete"
            },
            {
              "name": "data",
              "value": "={{ { step_id: 'step-1', agent_name: 'Query Planner', content: $json, is_structured: true, step_order: 0 } }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "notify-planner-complete",
      "name": "✅ Notify Planner Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "jsonata",
        "jsonataExpression": "{ \"needs_rag\": $contains($json.required_data_sources, \"rag\"), \"needs_web\": $contains($json.required_data_sources, \"web\"), \"needs_analysis\": $json.requires_analysis, \"query_plan\": $json }"
      },
      "id": "parse-plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.needs_rag }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "needs_rag"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.needs_web }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "needs_web"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-data",
      "name": "Route Data",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_start"
            },
            {
              "name": "data",
              "value": "={{ { agent_name: 'Data Agent', step_id: 'step-2', step_order: 1, timestamp: $now.toISO() } }}"
            }
          ]
        }
      },
      "id": "notify-data-start",
      "name": "📤 Notify Data Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 150],
      "continueOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Data Retrieval Agent. Output ONLY valid JSON:\n{\n  \"summary\": \"Brief summary\",\n  \"total_sources\": 0,\n  \"rag_results\": [],\n  \"web_results\": []\n}"
            },
            {
              "role": "user",
              "content": "Search for: {{ $('Extract Input').item.json.user_message }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "data-agent",
      "name": "📚 Data Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_complete"
            },
            {
              "name": "data",
              "value": "={{ { step_id: 'step-2', agent_name: 'Data Agent', content: $json, is_structured: true, step_order: 1 } }}"
            }
          ]
        }
      },
      "id": "notify-data-complete",
      "name": "✅ Notify Data Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Parse Plan').item.json.needs_analysis }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-analysis",
      "name": "Needs Analysis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_start"
            },
            {
              "name": "data",
              "value": "={{ { agent_name: 'Analysis Agent', step_id: 'step-3', step_order: 2, timestamp: $now.toISO() } }}"
            }
          ]
        }
      },
      "id": "notify-analysis-start",
      "name": "📤 Notify Analysis Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 150],
      "continueOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an Analysis Agent. Output ONLY valid JSON:\n{\n  \"summary\": \"Brief summary\",\n  \"key_findings\": [],\n  \"statistical_insights\": {},\n  \"nlp_insights\": {},\n  \"visualizations\": []\n}"
            },
            {
              "role": "user",
              "content": "Analyze: {{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "analysis-agent",
      "name": "📊 Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_complete"
            },
            {
              "name": "data",
              "value": "={{ { step_id: 'step-3', agent_name: 'Analysis Agent', content: $json, is_structured: true, step_order: 2 } }}"
            }
          ]
        }
      },
      "id": "notify-analysis-complete",
      "name": "✅ Notify Analysis Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-for-synthesis",
      "name": "Merge for Synthesis",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [3050, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_start"
            },
            {
              "name": "data",
              "value": "={{ { agent_name: 'Synthesis Agent', step_id: 'step-4', step_order: 3, timestamp: $now.toISO() } }}"
            }
          ]
        }
      },
      "id": "notify-synthesis-start",
      "name": "📤 Notify Synthesis Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3250, 150],
      "continueOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Synthesis Agent. Output ONLY valid JSON:\n{\n  \"response\": \"Final markdown response\",\n  \"confidence_level\": \"high\",\n  \"citations\": [],\n  \"recommendations\": []\n}"
            },
            {
              "role": "user",
              "content": "Original: {{ $('Extract Input').item.json.user_message }}\nData: {{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "synthesis-agent",
      "name": "✨ Synthesis Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [3450, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "agent_step_complete"
            },
            {
              "name": "data",
              "value": "={{ { step_id: 'step-4', agent_name: 'Synthesis Agent', content: $json, is_structured: true, step_order: 3 } }}"
            }
          ]
        }
      },
      "id": "notify-synthesis-complete",
      "name": "✅ Notify Synthesis Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "content"
            },
            {
              "name": "data",
              "value": "={{ { content: $json.response } }}"
            }
          ]
        }
      },
      "id": "stream-final-content",
      "name": "📝 Stream Final Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3850, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "message",
              "value": "={{ $json.response }}",
              "type": "string"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Input').item.json.session_id }}",
              "type": "string"
            },
            {
              "name": "execution_id",
              "value": "={{ $('Extract Input').item.json.execution_id }}",
              "type": "string"
            },
            {
              "name": "metadata",
              "value": "={{ { confidence: $json.confidence_level, citations: $json.citations, recommendations: $json.recommendations } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [4050, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Input').item.json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "complete"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "notify-complete",
      "name": "🎉 Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4250, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'processing', execution_id: $('Extract Input').item.json.execution_id, message: 'Streaming updates to callback URL' } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4450, 300]
    }
  ],
  "connections": {
    "Webhook - Chat Input": {
      "main": [[{"node": "Extract Input", "type": "main", "index": 0}]]
    },
    "Extract Input": {
      "main": [[{"node": "📡 Notify Connected", "type": "main", "index": 0}]]
    },
    "📡 Notify Connected": {
      "main": [[{"node": "📤 Notify Planner Start", "type": "main", "index": 0}]]
    },
    "📤 Notify Planner Start": {
      "main": [[{"node": "🧠 Query Planner Agent", "type": "main", "index": 0}]]
    },
    "🧠 Query Planner Agent": {
      "main": [[{"node": "✅ Notify Planner Complete", "type": "main", "index": 0}]]
    },
    "✅ Notify Planner Complete": {
      "main": [[{"node": "Parse Plan", "type": "main", "index": 0}]]
    },
    "Parse Plan": {
      "main": [[{"node": "Route Data", "type": "main", "index": 0}]]
    },
    "Route Data": {
      "main": [
        [{"node": "📤 Notify Data Start", "type": "main", "index": 0}],
        [{"node": "📤 Notify Data Start", "type": "main", "index": 0}],
        [{"node": "📤 Notify Data Start", "type": "main", "index": 0}]
      ]
    },
    "📤 Notify Data Start": {
      "main": [[{"node": "📚 Data Agent", "type": "main", "index": 0}]]
    },
    "📚 Data Agent": {
      "main": [[{"node": "✅ Notify Data Complete", "type": "main", "index": 0}]]
    },
    "✅ Notify Data Complete": {
      "main": [[{"node": "Needs Analysis?", "type": "main", "index": 0}]]
    },
    "Needs Analysis?": {
      "main": [
        [{"node": "📤 Notify Analysis Start", "type": "main", "index": 0}],
        [{"node": "Merge for Synthesis", "type": "main", "index": 1}]
      ]
    },
    "📤 Notify Analysis Start": {
      "main": [[{"node": "📊 Analysis Agent", "type": "main", "index": 0}]]
    },
    "📊 Analysis Agent": {
      "main": [[{"node": "✅ Notify Analysis Complete", "type": "main", "index": 0}]]
    },
    "✅ Notify Analysis Complete": {
      "main": [[{"node": "Merge for Synthesis", "type": "main", "index": 0}]]
    },
    "Merge for Synthesis": {
      "main": [[{"node": "📤 Notify Synthesis Start", "type": "main", "index": 0}]]
    },
    "📤 Notify Synthesis Start": {
      "main": [[{"node": "✨ Synthesis Agent", "type": "main", "index": 0}]]
    },
    "✨ Synthesis Agent": {
      "main": [[{"node": "✅ Notify Synthesis Complete", "type": "main", "index": 0}]]
    },
    "✅ Notify Synthesis Complete": {
      "main": [[{"node": "📝 Stream Final Content", "type": "main", "index": 0}]]
    },
    "📝 Stream Final Content": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "🎉 Notify Complete", "type": "main", "index": 0}]]
    },
    "🎉 Notify Complete": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}

